.accordion--button::after {
    background-color: var(--roxo-amethyst);
    background-image: url(../../../img/icon/down\ arrow.svg);
    background-position: center;

    border-radius: 50%;

    padding: 25px;

    position: absolute;
    bottom: -20px;
    margin-left:inherit;
}

.accordion--button:not(.collapsed)::after {
    background-image: url(../../../img/icon/down\ arrow.svg);
}

.technologies__subtitle {
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.technologies__paragraph {
    color: var(--branco);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8125rem;
}

.technologies__carousel_img {
    width: 186px;
    height: 143px;
}

.technologies__carousel_img:hover {
    filter: drop-shadow(0px 0px 6px #a399cd);
}

.accordion--button:hover::after {
    filter: drop-shadow(0px 0px 6px #a399cd);
}

.accordion--collapse {
    transition: 1s;
}

.technologies__accordion__paragraph {
    font: 1rem;
    max-width: 750px;
}

.technologies__prev--icon, 
.technologies__next--icon {
    filter: drop-shadow(0px 0px 12px #a399cd);
} 