.how__carousel_number {
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 87.13%);
    border-radius: 100%;
    box-shadow: 0 0 0 16px #252231;

    color: var(--roxo-eggplant);
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8762rem;

    width: 9.9375rem;
    height: 9.9375rem;
}

.how__carousel_number:hover {
    filter: drop-shadow(0px 0px 5px #a399cd);
    cursor: pointer;
}

.how__carousel_subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8288rem;

    max-width: 11.8875rem;
}

.how__carousel_number, .how__carousel_subtitle, .how__seta {
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .how__seta {
        background-image: url(../../../img/icon/seta.svg);
        background-repeat: no-repeat;
        background-size: cover;
        
        cursor: pointer;

        width: 1.745rem;
        height: 1.3956rem;
    }    

    .how__seta:hover {
        filter: drop-shadow(0px 0px 6px #a399cd);
    }
}