@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url(_variaveis.css);
@import url(../componentes/1-header/1-navbar.css);
@import url(../componentes/1-header/2-headline.css);

body {
    background: var(--roxo-darkSlate);
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: var(--light);
}