@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url(_variaveis.css);
@import url(../componentes/1-header/1-navbar.css);
@import url(../componentes/1-header/2-headline.css);
@import url(../componentes/1-header/3-info.css);
@import url(../componentes/2-main/1-introduction.css);
@import url(../componentes/2-main/2-form.css);
@import url(../componentes/2-main/3-why.css);
@import url(../componentes/2-main/4-technologies.css);
@import url(../componentes/2-main/5-how.css);
@import url(../componentes/3-footer/footer.css);

body {
    background: var(--roxo-darkSlate);
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 1rem;
    font-weight: var(--light);
}

.margin-top {
    margin-top: 3.375rem;
}

.btn--mod {
    background: linear-gradient(90deg, var(--roxo-amethyst) 0%, var(--roxo-heather) 100%);
    border-radius: 2.5rem;
    
    color: var(--roxo-eggplant);
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.0625rem;

    height: 3.25rem;
    width: 15.8125rem;

    margin-top: 2.25rem;

    transition: .6s;
}

.btn--mod:hover {
    color: var(--branco);
    background: linear-gradient(269deg, #343045 -3.72%, #8176AF 78.45%);
    filter: drop-shadow(0px 0px 6px #a399cd);
}

.subtitle {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2rem;
}

.interlude {
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 2rem;
}

.paragraph {
    font-size: .75rem;
    font-weight: 400;
    line-height: .9375rem;

    max-width: 28.6875rem;
}

@media screen and (min-width: 768px) {
    .margin-top {
        margin-top: 8.125rem;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 2.7425rem;
    }

    .interlude {
        font-size: 1.8rem;
        line-height: 2.75rem;
    }

    .paragraph {
        font-size: 14px;
        line-height: 1.25rem;

        max-width: 28.125rem;
    }
}

@media screen and (min-width: 1200px) {
    .subtitle {
        font-size: 2.25rem;
    }

    .interlude {
        font-size: 2.25rem;
    }

    .paragraph {
        font-size: 1rem;

        max-width: 28.125rem;
    }
}