.header__info {
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    border-radius: 90px;
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
}

.prev--icon {
    background-image: url(../../../img/icon/prev-icon.svg);

    height: 1.4063rem;
    width: 1.4063rem;
}

.next--icon {
    background-image: url(../../../img/icon/next-icon.svg);

    height: 1.4063rem;
    width: 1.4063rem;
}

.carousel--img {
    height: 3.875rem;
}

.info__carousel--img {
    max-height: 3.8269rem;
    max-width: 2.5519rem;
}

.info__carousel {
    max-width: 12.1875rem;
}

.info__carousel__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}

.info__carousel_link {
    font-size: .8125rem;
    line-height: 1.0625rem;
    max-width: 9.375rem;
}

.carousel__transition {
    transition: 1s;
}

@media screen and (min-width: 375px) {
    .info__carousel_link {
        font-size: .875rem;
        max-width: 12.5rem!important;
    }
}

@media screen and (min-width: 768px) {
    .info__carousel {
        max-width: 100%;
    }

    .info__carousel_link {
        max-width: 291px!important;
    }
}

@media screen and (min-width: 992px) {
    .carousel--img {
        height: auto!important;
    }

    .info__carousel--img {
        max-height: inherit;
        max-width: inherit;
    }

    .info__carousel__subtitle {
        font-size: 1.2rem;
    }

    .info__underline {
        background-color: var(--roxo-heather);
        width: .0625rem;
        height: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .info__carousel__subtitle {
        font-size: 1.5rem;
    }
}