footer {
    margin-top: 5.0625rem;
    margin-bottom: 2.25rem;
}

.footer__logo_img {
    max-height: 11.6875rem;
    max-width: 11.5625rem;
}

.footer__underline {
    background: linear-gradient(179.87deg, #343045 0.47%, #343045 0.47%, #C0B7E8 35.21%, #8176AF 68.91%, #343045 99.5%);

    height: auto;
    width: .375rem;
}

.footer__lista__link {
    color: var(--branco);

    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.footer__lista__link:hover {
    color: #C0B7E8;
    filter: drop-shadow(0px 0px 12px #a399cd);
}

.footer__social_subtitulo {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}

.footer__social_icons {
    cursor: pointer;

    display: inline-block;

    background-size: 100%;
    background-repeat: no-repeat;

    width: 32px;
    height: 32px;
}

.icon-facebook {
    background-image: url(../../../img/icon/facebook.svg);
}

.icon-twitter {
    background-image: url(../../../img/icon/twitter.svg);
}

.icon-linkedin {
    background-image: url(../../../img/icon/linkedin.svg);
}

.icon-youtube {
    background-image: url(../../../img/icon/youtube.svg);
}

.icon-instagram {
    background-image: url(../../../img/icon/instagram.svg);
}

.icon-pinterest {
    background-image: url(../../../img/icon/pinterest.svg);
}

.footer__underline-mod{
    background: linear-gradient(270deg, #343045 0%, #C0B7E8 34.9%, #8176AF 68.75%, #343045 100%);
    height: 1px;
    width: 100%;

    margin-top: 46px;
    margin-bottom: 40px;
}

.footer__creditos {
    font-size: .775rem;
    font-weight: 600;
    line-height: 1.5625rem;

    letter-spacing: 0.02em;

    max-width: 18.125rem;
}

@media screen and (min-width: 992px) {
    .footer__creditos {
        max-width: 100%;
    }
}